# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Environment variables
.env
.env.*

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
